# WhatsApp Web session & caches
.wwebjs_auth/
.wwebjs_cache/
.wwebjs_cache_* 
.session/
sessions/

# Umum Node/JS
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/
tmp/
logs/
*.log

# Secrets
.env
.env.*
